@import url("https://fonts.googleapis.com/css?family=Russo+One&display=swap");

body {
  background: #000;
  color: #fff;
  h1 {
    font-family: "Russo One", sans-serif;
    font-size: 3rem;
    a {
      color: rgb(116, 0, 0);
    }
    a:hover {
      color: rgb(189, 0, 0);
      text-decoration: none;
    }
  }
  h2 {
    font-family: "Russo One", sans-serif;
    font-size: 1.5rem;
    color: rgb(233, 233, 233);
    margin-bottom: 20px;
  }
}
.item {
  background-size: cover;
  color: #fff;
  text-shadow: black 0.1em 0.1em 0.2em;
  margin-bottom: 20px;
  height: 350px;
  width: 250px;
  border-radius: 10px;
  padding: 20px;
}
.item:hover {
  box-shadow: 0em 0em 0.5em #fff;
}
.videoPlay {
  width: 100%;
  height: 95vh;
  .playTitle {
    position: absolute;
    display: none;
    height: 100px;
    width: 98%;
    background-color: rgba(255, 255, 255, 0.103);
    padding: 20px;
  }
}

.videoPlay:hover {
  .playTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }
}

.button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 20px;
  color: #fff;
  background-color: rgb(54, 54, 54);
  border: 0px;
}
.button:hover {
  background-color: rgb(145, 145, 145);
}

.play {
  background-color: rgb(255, 52, 52);
}
.play:hover {
  background-color: rgb(92, 0, 0);
}
